:root {
  --cor-primaria: #149c00;
  --secundaria: #4bbc1e;

}

/* Definições Globais */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estrutura Principal */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

/* Divisões Esquerda e Direita */
.left, .right {
  width: 48%;
}

/* Estilo da Esquerda */
.left h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.left p {
  font-size: 15px;
  line-height: 1.5em;
}

/* Estilo da Direita */
.right form {
  display: flex;
  flex-direction: column;
}

.column {
  margin-bottom: 20px;
}


.column h3 {
  margin-bottom: 10px;
}

.column input, .column textarea {
  width: 96.9%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.column textarea {
  resize: vertical;
}

.recipe-time {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.recipe-time input {
  width: 200px;
}

/*Img-banner*/
.img-banner {
  width: 100%;
  height: 300px; /* Defina o tamanho desejado para a div */
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha a div */
}

/* Estilos Adicionais */
hr {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.banner {
  background-color: var(--cor-primaria);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.5s ease;
}

.button .indicator {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.button span {
  font-family: sans-serif;
  color: black;
  font-size: 15px;
}

.button:hover {
  transform: scale(1.09);
  transition: transform 0.5s ease;
}


.input-custom {
  max-width: 96.9%;
  height: 20px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  margin-top: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input-custom:hover, .input-custom:focus, .input-custom-group:hover .input-custom {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input-custom:focus {
  color: #05060fc2;
}

/*Button*/
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--secundaria);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid var(--secundaria);
}

.button2:hover:before {
  top: -35%;
  background-color: var(--secundaria);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: var(--secundaria);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.categoria select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.categoria {
  margin-bottom: 20px;
}