.banner {
    width: 100%;
    height: 100px;
    background-color: #088a0d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente */

}

.button {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: white;
    text-align: center;
    width: 150px;
    height: 45px;
    border-radius: 1.5rem;
    font-family: sans-serif;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: none;
}

.button .indicator {
    background-color: #088a0d;
    border-radius: 0.75rem;
    height: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
    transition: width 0.5s;
    z-index: 10;
}

.button:hover .indicator {
    width: 100%;
}

.button p {
    margin-left: 0.5rem;
    transition: transform 0.5s;
}

.button:hover p {
    transform: translateX(0.5rem);
}


@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Inter:wght@100..900&display=swap');
h1 {
    /*Ajuste do titulo*/
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 60px;
}

p {
    /*Ajuste do subtitulo*/
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;
    position: absolute;
    top: 165px;
    left: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    display: inline-block;
    text-align: left;
    margin-left: 75px;
    max-width: 160px;
    position: absolute;
    top: 275px;
    left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea, input[type="file"] {
    width: 300px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
}


textarea {
    height: 150px;
    resize: none;
    font-family: Arial, sans-serif;
}

textarea::placeholder {
    color: #999;
}

.upload-container {
    position: absolute;
    top: 1px;
    left: 432px;
    margin-top: 20px;
    margin-left: 30px;
}


input[type="file"] {
    padding: 0;
    box-sizing: border-box;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: absolute;
    top: -178px;
    left: 220px;
    max-width: 900px;
    width: 100%;
}


.save-button {
    padding: 7px 20px;
    font-size: 20px;
    border: none;
    background-color: #088a0d;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 600px;
    left: 636px;
}


body {
    position: relative;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button.prev {
    left: 100px;
}

button.next {
    right: 100px;
}


.view-more-button {
    background-color: #088a0d;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 10px;
    left: 85%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 570px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.view-more-button:hover {
    background-color: #066d05;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.form-fields {
    position: absolute;
    top: 500px;
    left: -465px;
    max-width: 700px;
}

.form-row {
    margin-bottom: 15px;
}

input[type="text"], textarea {
    width: 200%;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.form-new {
    position: absolute;
    top: 260px;
    left: -2px;
    max-width: 900px;
    width: 100%;
}

.form-ull {
    position: absolute;
    top: 160px;
    left: -2px;
    max-width: 200px;
    width: 100%;
}

.form-coll {
    position: absolute;
    top: 80px;
    left: -2px;
    max-width: 200px;
    width: 100%;
}

textarea {
    height: 150px;
    resize: none;
}

.upload-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-containe {
    position: absolute;
    top: 393px;
    left: 500px;
    max-width: 200px;
    width: 100%;
}

.form-rowww {
    position: absolute;
    top: 0.5px;
    left: 500px;
    max-width: 200px;
    width: 100%;
}

.form-roww {
    position: absolute;
    top: 200px;
    left: 500px;
    max-width: 200px;
    width: 100%;
}




















